.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff63;
  display: flex;
  flex-direction: column;
}
.portfolio h1 {
  text-transform: capitalize;
  margin-bottom: 40px;
}
.imagens {
  display: flex;
  gap: 50px;
}
.portfolio-img {
  background: #fff;
  width: 300px;
  height: 460px;
  border-radius: 20px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  position: relative;
}
.portfolio-img:hover {
  background-position: 100% 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-base);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}
.overlay a {
  color: black;
}
